@charset"utf-8";

    /*レスポンシブ対応*/

@media screen and (max-width:768px) {

    * {
        box-sizing: border-box;
    }

    body,
    #slideshow {
        width: 100vw;
    }

    main {
        margin: 0 3vw;
    }

    .sp-only {
        display: block;
    }

    .pc-only {
        display: none;
    }

    .top-header {
        padding: 4vw 3vw 4vw;

    }

    .letter-spacing {
        letter-spacing: 0.3em
    }



    .logotext h1 {
        font-size: 7vw;
        text-align: right;
        white-space: pre;
        margin: 0.9vw 0 0;
    }

    .logotext h2 {
        font-size: 4vw;
        font-family: "游明朝", "ヒラギノ明朝 Pro", serif;
    }

    .logoimg {
        height: 13vw;
        width: 12vw;
    }

    .top-header {
        text-align: center;
        margin-bottom: 3vw;
    }

    nav {
        background-color: #006a6c;
        text-align: center;
        height: 28vw;

    }

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        border-collapse: collapse;

    }

    .nav-list li {
        flex-basis: 25%;
        border: 1px solid #CEF6E3;
        height: 13.3vw;
    }

    .nav-list li:nth-child(n+5) {
        border-top: none
    }


    .nav-list a {
        font-size: 3.8vw;
    }

    nav li:hover > .subnav {
        display: none;
    }

    #slideshow,
    .slide {
        width: 100vw;
        height: 45vw;
    }

    .notice,
    .public-events,
    .update-history,
    .entrance-examination {
        flex: 100%;
    }

    .update-history {
        order: 1;
    }

    .button1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .button1 li {
        width: 40vw;
        margin: 2vw;
        flex: 50%
    }

    footer {
        top: 1vw;
        padding: 4vw;
        font-size: 3vw;
    }


}
